<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\cfitweb\php\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
